In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
tornadoes = pd.read_csv('../data/1950-2022_all_tornadoes.csv')
pd.set_option('display.max_columns', None)

In [3]:
tornadoes.head()

,om,yr,mo,dy,date,time,tz,st,stf,stn,mag,inj,fat,loss,closs,slat,slon,elat,elon,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,3,OK,40,23,1,0,0,4.0,0.0,36.73,-102.52,36.88,-102.3,15.8,10,1,1,1,25,0,0,0,0
1,193,1950,10,9,1950-10-09,02:15:00,3,NC,37,9,3,3,0,5.0,0.0,34.17,-78.60,0.00,0.0,2.0,880,1,1,1,47,0,0,0,0
2,195,1950,11,20,1950-11-20,02:20:00,3,KY,21,1,2,0,0,5.0,0.0,37.37,-87.20,0.00,0.0,0.1,10,1,1,1,177,0,0,0,0
3,196,1950,11,20,1950-11-20,04:00:00,3,KY,21,2,1,0,0,5.0,0.0,38.20,-84.50,0.00,0.0,0.1,10,1,1,1,209,0,0,0,0
4,197,1950,11,20,1950-11-20,07:30:00,3,MS,28,14,1,3,0,4.0,0.0,32.42,-89.13,0.00,0.0,2.0,37,1,1,1,101,0,0,0,0

In [4]:
#drop columns: stn, closs, om, 
tornadoes = tornadoes.drop(columns = ['stn', 'closs', 'om'])
tornadoes.head(1)

,yr,mo,dy,date,time,tz,st,stf,mag,inj,fat,loss,slat,slon,elat,elon,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1950,10,1,1950-10-01,21:00:00,3,OK,40,1,0,0,4.0,36.73,-102.52,36.88,-102.3,15.8,10,1,1,1,25,0,0,0,0

In [5]:
tornadoes.dtypes

yr        int64
mo        int64
dy        int64
date     object
time     object
tz        int64
st       object
stf       int64
mag       int64
inj       int64
fat       int64
loss    float64
slat    float64
slon    float64
elat    float64
elon    float64
len     float64
wid       int64
ns        int64
sn        int64
sg        int64
f1        int64
f2        int64
f3        int64
f4        int64
fc        int64
dtype: object

In [6]:
tornadoes['date'] = pd.to_datetime(tornadoes['date'])
tornadoes.head()

,yr,mo,dy,date,time,tz,st,stf,mag,inj,fat,loss,slat,slon,elat,elon,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1950,10,1,1950-10-01,21:00:00,3,OK,40,1,0,0,4.0,36.73,-102.52,36.88,-102.3,15.8,10,1,1,1,25,0,0,0,0
1,1950,10,9,1950-10-09,02:15:00,3,NC,37,3,3,0,5.0,34.17,-78.60,0.00,0.0,2.0,880,1,1,1,47,0,0,0,0
2,1950,11,20,1950-11-20,02:20:00,3,KY,21,2,0,0,5.0,37.37,-87.20,0.00,0.0,0.1,10,1,1,1,177,0,0,0,0
3,1950,11,20,1950-11-20,04:00:00,3,KY,21,1,0,0,5.0,38.20,-84.50,0.00,0.0,0.1,10,1,1,1,209,0,0,0,0
4,1950,11,20,1950-11-20,07:30:00,3,MS,28,1,3,0,4.0,32.42,-89.13,0.00,0.0,2.0,37,1,1,1,101,0,0,0,0

decades = tornadoes[(tornadoes['yr'] == 1950) | (tornadoes['yr'] == 1960) | (tornadoes['yr'] == 1970)|
                   (tornadoes['yr'] == 1980) | (tornadoes['yr'] == 1990) | (tornadoes['yr'] == 2000) |
                   (tornadoes['yr'] == 2010) | (tornadoes ['yr'] == 2020)]

In [7]:
fifties = tornadoes[tornadoes['yr'].between(1950, 1959)]
fifties.head()

,yr,mo,dy,date,time,tz,st,stf,mag,inj,fat,loss,slat,slon,elat,elon,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1950,10,1,1950-10-01,21:00:00,3,OK,40,1,0,0,4.0,36.73,-102.52,36.88,-102.3,15.8,10,1,1,1,25,0,0,0,0
1,1950,10,9,1950-10-09,02:15:00,3,NC,37,3,3,0,5.0,34.17,-78.60,0.00,0.0,2.0,880,1,1,1,47,0,0,0,0
2,1950,11,20,1950-11-20,02:20:00,3,KY,21,2,0,0,5.0,37.37,-87.20,0.00,0.0,0.1,10,1,1,1,177,0,0,0,0
3,1950,11,20,1950-11-20,04:00:00,3,KY,21,1,0,0,5.0,38.20,-84.50,0.00,0.0,0.1,10,1,1,1,209,0,0,0,0
4,1950,11,20,1950-11-20,07:30:00,3,MS,28,1,3,0,4.0,32.42,-89.13,0.00,0.0,2.0,37,1,1,1,101,0,0,0,0

In [8]:
sixties = tornadoes[tornadoes['yr'].between(1960, 1969)]

In [9]:
seventies = tornadoes[tornadoes['yr'].between(1970, 1979)]

In [10]:
eighties = tornadoes[tornadoes['yr'].between(1980, 1989)]

In [11]:
nineties = tornadoes[tornadoes['yr'].between(1990, 1999)]

In [12]:
thousands = tornadoes[tornadoes['yr'].between(2000, 2009)]

In [13]:
tens = tornadoes[tornadoes['yr'].between(2010, 2019)]

In [14]:
most_tornadoes = tornadoes.st.value_counts().to_frame().reset_index().head(10)
most_tornadoes

  index    st
0    TX  9332
1    KS  4503
2    OK  4238
3    FL  3577
4    NE  3036
5    IA  2862
6    IL  2781
7    MS  2673
8    AL  2543
9    MO  2523

In [15]:
most_injuries = tornadoes['inj'].groupby(tornadoes['st']).value_counts().nlargest(10)
most_injuries

st  inj
TX  0      8508
KS  0      4239
OK  0      3761
FL  0      3171
NE  0      2879
IA  0      2639
IL  0      2433
CO  0      2287
MS  0      2227
MO  0      2152
Name: inj, dtype: int64

In [16]:
most_fatalities = tornadoes['fat'].groupby(tornadoes['st']).value_counts().nlargest(10)
most_fatalities

st  fat
TX  0      9176
KS  0      4445
OK  0      4136
FL  0      3517
NE  0      3010
IA  0      2821
IL  0      2707
MS  0      2564
MO  0      2429
AL  0      2421
Name: fat, dtype: int64

#count number of scale categories for each state
tornadoes['mag'].groupby(tornadoes['st']).value_counts().

groupby and max?

In [17]:
mag_and_state = tornadoes.groupby('st')['mag']

In [18]:
#magnitude by decades 

fifties.groupby(['st', 'mag'])['mag'].count()

st  mag
AK  0       1
AL  0       6
    1      52
    2      52
    3      22
           ..
WV  2       1
WY  0       4
    1      24
    2       9
    3       2
Name: mag, Length: 207, dtype: int64

find avergage mag by state? -overall and - by decade

In [19]:
avg_mag_st = tornadoes.groupby(['st', 'mag'])['mag'].mean()
avg_mag_st

st  mag
AK   0     0.0
AL  -9    -9.0
     0     0.0
     1     1.0
     2     2.0
          ...
WY   0     0.0
     1     1.0
     2     2.0
     3     3.0
     4     4.0
Name: mag, Length: 283, dtype: float64

top 10 by decade

In [20]:
most_tornadoes_1950 = fifties.st.value_counts().to_frame().reset_index().head(10)

In [21]:
most_tornadoes_1960 = sixties.st.value_counts().to_frame().reset_index().head(10)

In [22]:
most_tornadoes_1970 = seventies.st.value_counts().to_frame().reset_index().head(10)

In [23]:
most_tornadoes_1980 = eighties.st.value_counts().to_frame().reset_index().head(10)

In [24]:
most_tornadoes_1990 = nineties.st.value_counts().to_frame().reset_index().head(10)

In [25]:
most_tornadoes_2000 = thousands.st.value_counts().to_frame().reset_index().head(10)

In [26]:
most_tornadoes_2010 = tens.st.value_counts().to_frame().reset_index().head(10)

In [27]:
most_injuries_1960 = fifties['inj'].groupby(fifties['st']).value_counts().nlargest(10)

In [28]:
most_injuries_1970 = fifties['inj'].groupby(fifties['st']).value_counts().nlargest(10)

In [29]:
most_injuries_1980 = fifties['inj'].groupby(fifties['st']).value_counts().nlargest(10)

In [30]:
most_injuries_1990 = fifties['inj'].groupby(fifties['st']).value_counts().nlargest(10)

In [31]:
most_injuries_2000 = fifties['inj'].groupby(fifties['st']).value_counts().nlargest(10)

In [32]:
most_injuries_2010 = fifties['inj'].groupby(fifties['st']).value_counts().nlargest(10)

merge forestry database 
- drop unnamed and rank
rename percent forest
rename sdt to st

In [33]:
forestry = pd.read_csv('../data/state_foresty.csv')
forestry

,Unnamed: 0,Rank,"State, district or territory",Percent forest (2016)[2] [note 1]
0,0,1,ME,89.46%
1,1,2,NH,84.32%
2,2,3,NaN,80.84%
3,3,4,NaN,80.37%
4,4,5,WV,79.01%
5,5,6,VT,77.811%
6,6,7,AL,70.57%
7,7,8,SC,68.19%
8,8,9,GA,67.28%
9,9,10,MS,65.07%
10,10,11,VA,62.93%
11,11,12,NY,62.88%
12,12,13,MA,60.57%
13,13,14,NC,59.73%
14,14,15,PA,58.60%
15,15,16,NaN,57.16%
16,16,17,AR,56.31%
17,17,18,PR,55.62%
18,18,19,MI,55.62%
19,19,20,CT,55.24%
20,20,21,RI,54.38%
21,21,22,LA,53.20%
22,22,23,TN,52.83%
23,23,24,NaN,52.82%
24,24,25,WA,52.74%
25,25,26,FL,50.68%
26,26,27,KY,49.35%
27,27,28,WI,48.98%
28,28,29,OR,48.51%
29,29,30,HI,42.53%
30,30,31,NJ,41.72%
31,31,32,ID,40.55%
32,32,33,MD,39.36%
33,33,34,TX,37.33%
34,34,35,MO,35.16%
35,35,36,AK,35.16%
36,36,37,UT,34.48%
37,37,38,CO,34.42%
38,38,39,MN,34.08%
39,39,40,NaN,33.90%[6]
40,40,41,CA,32.71%
41,41,42,NM,31.99%
42,42,43,OH,30.92%
43,43,44,OK,28.80%
44,44,45,MT,27.45%
45,45,46,DE,27.26%
46,46,47,AZ,25.64%
47,47,48,IN,21.06%
48,48,49,WY,18.42%
49,49,50,NV,15.89%
50,50,51,IL,13.64%
51,51,52,IA,8.43%
52,52,53,KS,4.78%
53,53,54,SD,3.93%
54,54,55,NE,3.20%
55,55,56,ND,1.72%
56,56,,NaN,No data

In [34]:
forestry.head(1)

,Unnamed: 0,Rank,"State, district or territory",Percent forest (2016)[2] [note 1]
0,0,1,ME,89.46%

In [35]:
forestry = forestry.drop(columns = ['Unnamed: 0', 'Rank'])
forestry.head(1)

  State, district  or territory Percent  forest (2016)[2] [note 1]
0                            ME                             89.46%

In [36]:
forestry.columns

Index(['State, district  or territory', 'Percent  forest (2016)[2] [note 1]'], dtype='object')

In [37]:
forestry.columns = ['st', 'percent_forest_2016']

In [38]:
merged = tornadoes.merge(forestry, on = 'st', how='inner')

import square mileage spreadsheet

In [39]:
sq_miles = pd.read_csv('../data/state_size.csv')
sq_miles.head()

,Unnamed: 0,State federal district or territory,Rank,sq mi,km,Rank.1,sq mi.1,km.1,% land,Rank.2,sq mi.2,km.2,% water
0,0,AK,1,665384.04,1723337,1.0,570640.95,1477953,NaN,1.0,94743.10,245384,NaN
1,1,TX,2,268596.46,695662,2.0,261231.71,676587,NaN,8.0,7364.75,19075,NaN
2,2,CA,3,163696.32,423972,3.0,155779.22,403466,NaN,6.0,7915.52,20501,NaN
3,3,MT,4,147039.71,380831,4.0,145545.80,376962,NaN,26.0,1493.91,3869,NaN
4,4,NM,5,121590.30,314917,5.0,121298.15,314161,NaN,49.0,292.15,757,NaN

In [40]:
sq_miles = sq_miles.drop(columns = ['Unnamed: 0', 'Rank', 'km','Rank.1','sq mi.1','km.1', '% land','Rank.2','sq mi.2','km.2','% water'])
sq_miles.head(1)

  State federal district  or territory      sq mi
0                                   AK  665384.04

In [41]:
sq_miles.columns = ['st', 'st_sq_miles']

In [42]:
merge2 = merged.merge(sq_miles, on = 'st', how='inner')
merge2

,yr,mo,dy,date,time,tz,st,stf,mag,inj,fat,loss,slat,slon,elat,elon,len,wid,ns,sn,sg,f1,f2,f3,f4,fc,percent_forest_2016,st_sq_miles
0,1950,10,1,1950-10-01,21:00:00,3,OK,40,1,0,0,4.0,36.7300,-102.5200,36.8800,-102.3000,15.80,10,1,1,1,25,0,0,0,0,28.80%,69898.87
1,1950,2,27,1950-02-27,10:20:00,3,OK,40,2,0,0,4.0,35.5500,-97.6000,0.0000,0.0000,2.00,50,1,1,1,109,0,0,0,0,28.80%,69898.87
2,1950,3,27,1950-03-27,03:00:00,3,OK,40,2,0,0,3.0,34.8500,-95.7500,0.0000,0.0000,0.10,77,1,1,1,121,0,0,0,0,28.80%,69898.87
3,1950,4,28,1950-04-28,14:17:00,3,OK,40,3,1,1,5.0,34.8800,-99.2800,35.1700,-99.2000,20.80,400,1,1,1,75,149,0,0,0,28.80%,69898.87
4,1950,4,28,1950-04-28,19:05:00,3,OK,40,4,32,5,5.0,35.0800,-96.4000,35.1300,-96.3500,4.50,200,1,1,1,63,0,0,0,0,28.80%,69898.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70025,2018,10,23,2018-10-23,13:31:00,3,RI,44,1,0,0,1000000.0,41.8674,-71.4680,41.8819,-71.4464,1.50,250,1,1,1,7,0,0,0,0,54.38%,1544.89
70026,2019,10,2,2019-10-02,14:45:00,3,RI,44,0,0,0,5000.0,41.5915,-71.2481,41.5883,-71.2482,0.22,60,1,1,1,5,0,0,0,0,54.38%,1544.89
70027,2021,11,13,2021-11-13,15:55:00,3,RI,44,1,0,0,50000.0,41.3967,-71.8186,41.3849,-71.8330,1.10,100,2,1,2,9,0,0,0,0,54.38%,1544.89
70028,2021,11,13,2021-11-13,15:59:00,3,RI,44,0,0,0,10000.0,41.7422,-71.7901,41.7556,-71.7763,1.39,100,2,1,2,7,0,0,0,0,54.38%,1544.89
70029,2021,11,13,2021-11-13,16:18:00,3,RI,44,0,0,0,50000.0,41.5656,-71.4811,41.5878,-71.4594,1.50,150,1,1,1,9,0,0,0,0,54.38%,1544.89

In [43]:
merge2.head(1)

,yr,mo,dy,date,time,tz,st,stf,mag,inj,fat,loss,slat,slon,elat,elon,len,wid,ns,sn,sg,f1,f2,f3,f4,fc,percent_forest_2016,st_sq_miles
0,1950,10,1,1950-10-01,21:00:00,3,OK,40,1,0,0,4.0,36.73,-102.52,36.88,-102.3,15.8,10,1,1,1,25,0,0,0,0,28.80%,69898.87

In [44]:
merge2.to_csv('../data/primary_data.csv')

# MVP

In [45]:
#average number of tornadoes per decade
avg_per_state_50s = fifties.value_counts('st')/10
avg_per_state_50s.to_frame().head(10)

       0
st
TX  62.7
KS  56.4
OK  54.6
NE  30.2
MO  22.1
IL  19.1
IN  16.4
AR  16.1
MS  14.5
FL  14.2

# which state has the most tornadoes per sq. mile?

# total tornadoes in state / sq. mile

In [46]:
total_tornadoes_by_state = merge2.value_counts('st').to_frame()

In [47]:
per_sq_mile = merge2.groupby('st')['st_sq_miles'].max()/merge2.groupby('st')['yr'].count()

In [48]:
per_sq_mile = per_sq_mile.to_frame()

In [49]:
per_sq_mile.columns

RangeIndex(start=0, stop=1, step=1)

In [50]:
#plot this 
per_sq_mile = per_sq_mile.sort_values(0)

In [51]:
per_sq_mile = per_sq_mile.reset_index()

In [52]:
per_sq_mile.columns = ['st', 'miles']

In [53]:
per_sq_mile.to_csv('../data/per_sq_mile.csv')

#  Does time of day affect fatalities and injuries?

In [54]:
merge2['time'] = pd.to_datetime(merge2['time'], format= '%H:%M:%S').dt.hour

In [55]:
## average time of day by state. wait, that doesnt work bc 2 is nighttime but so is 22
#merge2.groupby('st')['time'].mean()

In [56]:
#create a column 'day or night'


merge2.loc[(merge2['time'] >= 5) & (merge2['time'] <= 16), 'day_or_night'] = 'day'
merge2.loc[(merge2['time'] < 5), 'day_or_night'] = 'night'
merge2.loc[(merge2['time'] > 16), 'day_or_night'] = 'night'

In [57]:
merge2.head()

,yr,mo,dy,date,time,tz,st,stf,mag,inj,fat,loss,slat,slon,elat,elon,len,wid,ns,sn,sg,f1,f2,f3,f4,fc,percent_forest_2016,st_sq_miles,day_or_night
0,1950,10,1,1950-10-01,21,3,OK,40,1,0,0,4.0,36.73,-102.52,36.88,-102.30,15.8,10,1,1,1,25,0,0,0,0,28.80%,69898.87,night
1,1950,2,27,1950-02-27,10,3,OK,40,2,0,0,4.0,35.55,-97.60,0.00,0.00,2.0,50,1,1,1,109,0,0,0,0,28.80%,69898.87,day
2,1950,3,27,1950-03-27,3,3,OK,40,2,0,0,3.0,34.85,-95.75,0.00,0.00,0.1,77,1,1,1,121,0,0,0,0,28.80%,69898.87,night
3,1950,4,28,1950-04-28,14,3,OK,40,3,1,1,5.0,34.88,-99.28,35.17,-99.20,20.8,400,1,1,1,75,149,0,0,0,28.80%,69898.87,day
4,1950,4,28,1950-04-28,19,3,OK,40,4,32,5,5.0,35.08,-96.40,35.13,-96.35,4.5,200,1,1,1,63,0,0,0,0,28.80%,69898.87,night

In [82]:
time_fatal = merge2.groupby(['st', 'day_or_night'])['fat'].sum()

In [85]:
time = time_fatal.reset_index()

In [87]:
time.to_csv('../data/time.csv')

In [88]:
time_injury = merge2.groupby(['st', 'day_or_night'])['inj'].sum()

In [89]:
time_injury = time_injury.reset_index()

In [92]:
time_injury.to_csv('../data/time_injury.csv')

# chart forestry percentage

In [58]:
st_forestry = merge2[['st', 'percent_forest_2016']]

In [59]:
#drop duplicates
st_forestry = st_forestry.drop_duplicates(subset=['st'], keep='first')

In [60]:
#only the 16 states im analyzing 

st_foresty = st_forestry[(st_forestry['st'] == 'OK') | (st_forestry['st'] == 'AL') |          
                         (st_forestry['st'] == 'AR') | (st_forestry['st'] == 'FL') |
                         (st_forestry['st'] == 'KS') | (st_forestry['st'] == 'IA') |
                         (st_forestry['st'] ==  'MS')| (st_forestry['st'] == 'IL') |
                         (st_forestry['st'] == 'LA') | (st_forestry['st'] == 'IN') |
                         (st_forestry['st'] == 'NE') | (st_forestry['st'] == 'AR') |
                         (st_forestry['st'] == 'SC') | (st_forestry['st'] == 'MO') |
                         (st_forestry['st'] == 'TX') | (st_forestry['st'] == 'MD') |
                         (st_forestry['st'] == 'TN')]

In [61]:
st_foresty

       st percent_forest_2016
0      OK              28.80%
6872   MS              65.07%
10474  IL              13.64%
13255  AR              56.31%
15294  MO              35.16%
17817  TX              37.33%
28404  LA              53.20%
30728  TN              52.83%
32114  FL              50.68%
35691  AL              70.57%
38234  SC              68.19%
39398  KS               4.78%
44623  NE               3.20%
49561  IA               8.43%
60402  IN              21.06%
64360  MD              39.36%

In [62]:
st_foresty.to_csv('../data/st_forestry.csv')

st_forestry.plot(kind = 'bar', x = 'st', y='percent_forest_2016', 
                   figsize = (8,4))

plt.xticks(rotation = 0,                                             
           fontsize = 12)                   
plt.title('Percent of Forestry in State 2016',                             
         fontsize = 14,
         fontweight = 'bold');

# percentage of magnitudes for each state

In [63]:
f5_percentage_by_state = (merge2.groupby('st')['mag'].apply(lambda x: (x == 5).sum() /len(x) * 100))

In [64]:
f4_percentage_by_state = (merge2.groupby('st')['mag'].apply(lambda x: (x == 4).sum() /len(x) * 100))

In [65]:
f3_percentage_by_state = (merge2.groupby('st')['mag'].apply(lambda x: (x == 3).sum() /len(x) * 100))

In [66]:
#mag of 3-5 
high_mag_percentage = (merge2.groupby('st')['mag'].apply(lambda x: (x >= 3).sum() /len(x) * 100))

In [67]:
high_mag_percentage.to_csv('../data/high_magnitude.csv')

# what percent of tornadoes in each state were deadly?

In [68]:
fatal_percentage = (merge2.groupby('st')['fat'].apply(lambda x: (x > 0).sum()/len(x) * 100))

In [69]:
fatal_percentage = fatal_percentage.reset_index()

In [71]:
fatal_percentage.to_csv('../data/fat_percent.csv')

# tornadoes per season 
1) add column for season?

In [72]:
#create month column
merge2['month'] = merge2['date'].dt.month.astype(int)

In [73]:
#merge2.loc[(merge2['time'] >= 5) & (merge2['time'] <= 16), 'day_or_night'] = 'day'
#merge2.loc[(merge2['time'] < 5), 'day_or_night'] = 'night'
#merge2.loc[(merge2['time'] > 16), 'day_or_night'] = 'night'
#merge2.head()


merge2.loc[(merge2 ['month'] >= 3) & (merge2['month'] <= 5), 'season'] = 'spring'
merge2.loc[(merge2 ['month'] >= 6) & (merge2['month'] <= 8), 'season'] = 'summer'
merge2.loc[(merge2 ['month'] >= 9) & (merge2['month'] <= 11), 'season'] = 'fall'
merge2.loc[(merge2 ['month'] == 12), 'season'] = 'winter'
merge2.loc[(merge2 ['month'] == 1), 'season'] = 'winter'
merge2.loc[(merge2 ['month'] == 2), 'season'] = 'winter'

# seasons
1. with the most tornadoes per state
2. with the most fatalities per state

In [74]:
season_counts = merge2.groupby(['st', 'season']).size().reset_index(name = 'count')

In [75]:
season_counts

     st  season  count
0    AK    fall      1
1    AK  summer      3
2    AL    fall    531
3    AL  spring   1261
4    AL  summer    243
..   ..     ...    ...
187  WV  summer    101
188  WV  winter      6
189  WY    fall     23
190  WY  spring    171
191  WY  summer    528

[192 rows x 3 columns]

In [76]:
season_counts.to_csv('../data/season_counts.csv')

In [77]:
per_season = merge2.groupby(['st', 'season']).count()

In [78]:
per_season

             yr    mo    dy  date  time    tz   stf   mag   inj   fat  loss  \
st season
AK fall       1     1     1     1     1     1     1     1     1     1     1
   summer     3     3     3     3     3     3     3     3     3     3     3
AL fall     531   531   531   531   531   531   531   531   531   531   531
   spring  1261  1261  1261  1261  1261  1261  1261  1261  1261  1261  1261
   summer   243   243   243   243   243   243   243   243   243   243   243
...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
WV summer   101   101   101   101   101   101   101   101   101   101   101
   winter     6     6     6     6     6     6     6     6     6     6     6
WY fall      23    23    23    23    23    23    23    23    23    23    23
   spring   171   171   171   171   171   171   171   171   171   171   171
   summer   528   528   528   528   528   528   528   528   528   528   528

           slat  slon  elat  elon   len   wid    ns    sn    sg    f1    f2  \
st season
AK fall       1     1     1     1     1     1     1     1     1     1     1
   summer     3     3     3     3     3     3     3     3     3     3     3
AL fall     531   531   531   531   531   531   531   531   531   531   531
   spring  1261  1261  1261  1261  1261  1261  1261  1261  1261  1261  1261
   summer   243   243   243   243   243   243   243   243   243   243   243
...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
WV summer   101   101   101   101   101   101   101   101   101   101   101
   winter     6     6     6     6     6     6     6     6     6     6     6
WY fall      23    23    23    23    23    23    23    23    23    23    23
   spring   171   171   171   171   171   171   171   171   171   171   171
   summer   528   528   528   528   528   528   528   528   528   528   528

             f3    f4    fc  percent_forest_2016  st_sq_miles  day_or_night  \
st season
AK fall       1     1     1                    1            1             1
   summer     3     3     3                    3            3             3
AL fall     531   531   531                  531          531           531
   spring  1261  1261  1261                 1261         1261          1261
   summer   243   243   243                  243          243           243
...         ...   ...   ...                  ...          ...           ...
WV summer   101   101   101                  101          101           101
   winter     6     6     6                    6            6             6
WY fall      23    23    23                   23           23            23
   spring   171   171   171                  171          171           171
   summer   528   528   528                  528          528           528

           month
st season
AK fall        1
   summer      3
AL fall      531
   spring   1261
   summer    243
...          ...
WV summer    101
   winter      6
WY fall       23
   spring    171
   summer    528

[192 rows x 29 columns]

In [79]:
season_deaths = merge2.groupby(['st', 'season'])['fat'].sum()
season_deaths

st  season
AK  fall        0
    summer      0
AL  fall       54
    spring    734
    summer      1
             ...
WV  summer      1
    winter      0
WY  fall        0
    spring      0
    summer      4
Name: fat, Length: 192, dtype: int64

In [80]:
season_deaths = season_deaths.reset_index()

In [81]:
season_deaths.to_csv('../data/season_deaths.csv')