In [1]:
import pandas as pd

In [2]:
tornadoes = pd.read_csv('../data/1950-2022_all_tornadoes.csv')
pd.set_option('display.max_columns', None)

In [3]:
tornadoes.head()

,om,yr,mo,dy,date,time,tz,st,stf,stn,mag,inj,fat,loss,closs,slat,slon,elat,elon,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,3,OK,40,23,1,0,0,4.0,0.0,36.73,-102.52,36.88,-102.3,15.8,10,1,1,1,25,0,0,0,0
1,193,1950,10,9,1950-10-09,02:15:00,3,NC,37,9,3,3,0,5.0,0.0,34.17,-78.60,0.00,0.0,2.0,880,1,1,1,47,0,0,0,0
2,195,1950,11,20,1950-11-20,02:20:00,3,KY,21,1,2,0,0,5.0,0.0,37.37,-87.20,0.00,0.0,0.1,10,1,1,1,177,0,0,0,0
3,196,1950,11,20,1950-11-20,04:00:00,3,KY,21,2,1,0,0,5.0,0.0,38.20,-84.50,0.00,0.0,0.1,10,1,1,1,209,0,0,0,0
4,197,1950,11,20,1950-11-20,07:30:00,3,MS,28,14,1,3,0,4.0,0.0,32.42,-89.13,0.00,0.0,2.0,37,1,1,1,101,0,0,0,0

In [4]:
tornadoes.dtypes

om         int64
yr         int64
mo         int64
dy         int64
date      object
time      object
tz         int64
st        object
stf        int64
stn        int64
mag        int64
inj        int64
fat        int64
loss     float64
closs    float64
slat     float64
slon     float64
elat     float64
elon     float64
len      float64
wid        int64
ns         int64
sn         int64
sg         int64
f1         int64
f2         int64
f3         int64
f4         int64
fc         int64
dtype: object

In [5]:
most_tornadoes = tornadoes.st.value_counts().to_frame().reset_index().head(10)
most_tornadoes

  index    st
0    TX  9332
1    KS  4503
2    OK  4238
3    FL  3577
4    NE  3036
5    IA  2862
6    IL  2781
7    MS  2673
8    AL  2543
9    MO  2523

In [6]:
most_injuries = tornadoes['inj'].groupby(tornadoes['st']).value_counts().nlargest(10)
most_injuries

st  inj
TX  0      8508
KS  0      4239
OK  0      3761
FL  0      3171
NE  0      2879
IA  0      2639
IL  0      2433
CO  0      2287
MS  0      2227
MO  0      2152
Name: inj, dtype: int64

In [7]:
most_fatalities = tornadoes['fat'].groupby(tornadoes['st']).value_counts().nlargest(10)
most_fatalities

st  fat
TX  0      9176
KS  0      4445
OK  0      4136
FL  0      3517
NE  0      3010
IA  0      2821
IL  0      2707
MS  0      2564
MO  0      2429
AL  0      2421
Name: fat, dtype: int64

#count number of scale categories for each state
tornadoes['mag'].groupby(tornadoes['st']).value_counts().

In [8]:
mag_and_state = tornadoes[['st', 'mag']]
mag_and_state.head(50)

NameError: name 'mag_by_state' is not defined